
<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
    <div class="custom-container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a asp-action="index" asp-controller="home">Home</a>
                </li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us-area fix about-us-img pt-65 pb-75">
    <div class="container">
        <div class="section-title-2 mb-35">
            <h2> We provide and extend personalized & innovative epin services to its customers.</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-us-img">
                    <img src="assets/images/banner/banner-9.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-us-content">
                    <div class="total-years">
                        <h2 class="count">10</h2>
                        <h4>Years <br>Experience<br>Working</h4>
                    </div>
                    <h3>We are ready to serve</h3>
                    <p>We help you grow your wallet with zero capital. We provide you with cheap and genuine WAEC, NECO, NABTEB, JAMB registration and result checker scratch cards online. Buy from us and get discount.</p>
                    <p>Our merchants makes extra income by selling on our platform. You can grow your wallet infinitely by selling card pins to your customers on ePin Mart.</p>
                    <p>We help you manage the ticketing of your events to your target participants at a cheaper rate. Try us today.</p>
                    <p>Customer excellence has always been a top priority and it will always be. Thank you for visiting our site. We look forward to working with you!</p>
                    <div class="about-btn">
                        <a asp-action="index" asp-controller="Home">Discover now <i class="far fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse-scroll-area-2" id="scene">
        <div data-depth="0.3" class="layer about-us-shape-1">
            <div class="medizin-shape"></div>
        </div>
    </div>
</div>
<div class="mision-area bg-gray-2 pt-65 pb-45">
    <div class="container">
        <div class="section-title-2 mb-45 ">
            <h3> We help you <strong>grow your wallet</strong> and get you cheap <strong>WAEC, NECO & NABTEB</strong> card pins online at a cheaper price.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="medizin-box mb-30" data-vivus-hover>
                    <div class="icon-box-wrapper">
                        <div class="medizin-icon-wrap">
                            <img class="svgInject" src="assets/images/icon-img/linea-basic-compass.svg" alt="">
                        </div>
                        <div class="icon-box-content">
                            <div class="title">
                                <h3>Our Vision</h3>
                            </div>
                            <ul>
                                <li>Good Service</li>
                                <li>For Community</li>
                                <li>Long Term Development</li>
                                <li>Save Our Planet</li>
                                <li>Help People</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="medizin-box mb-30" data-vivus-hover>
                    <div class="icon-box-wrapper">
                        <div class="medizin-icon-wrap">
                            <img class="svgInject" src="assets/images/icon-img/linea-basic-flag2.svg" alt="">
                        </div>
                        <div class="icon-box-content">
                            <div class="title">
                                <h3>Our Promise</h3>
                            </div>
                            <ul>
                                <li>Sustainable Relationship</li>
                                <li>Renew Commitment</li>
                                <li>Provide The Best Solution</li>
                                <li>Profitable Relationship</li>
                                <li>Adapt With People's Needs</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                <div class="medizin-box mb-30" data-vivus-hover>
                    <div class="icon-box-wrapper">
                        <div class="medizin-icon-wrap">
                            <img class="svgInject" src="assets/images/icon-img/linea-basic-life-buoy.svg" alt="">
                        </div>
                        <div class="icon-box-content">
                            <div class="title">
                                <h3>Our Mision</h3>
                            </div>
                            <ul>
                                <li>Change The Habits</li>
                                <li>Best Quality</li>
                                <li>Think Big Do Bigger</li>
                                <li>Stablity & competence</li>
                                <li>Safer & Better Life</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="funfact-area pt-70 pb-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">1790</h2>
                    <span>Happy clients</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">491</h2>
                    <span>Finished projects</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">245</h2>
                    <span>Experts</span>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12 col-sm-6">
                <div class="single-funfact text-center mb-30">
                    <h2 class="count">1090</h2>
                    <span>Posts</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area pt-65 pb-65">
    <div class="container">
        <div class="section-title-2 mb-45">
            <h2>What's clients say about us</h2>
            <p>People love our products and 70% our customers are returned customers. We believe that only way to make a long-term business is helping people.</p>
        </div>
        <div class="testimonial-active-3 nav-style-2-modify-1 dot-style-1 dot-style-1-center dot-style-1-mt1">
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>Great quality!</h4>
                    <p> This is a great design and I hope that we will create a website with a good signature. ThemeMove team is reactive and kind. Thanks for the help so far.</p>
                    <div class="client-info">
                        <h5>Luke Olfert</h5>
                        <span>/ Web Developer, Canada</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>My luck</h4>
                    <p> Before my purchase, I had a look of many other themes & clubs that are available out there. So, ThemeMove is just good luck for me. 5-star rating deserved.</p>
                    <div class="client-info">
                        <h5>Ryan Teixeira</h5>
                        <span>/ Designer, UK</span>
                    </div>
                </div>
            </div>
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>No coding Require</h4>
                    <p> Very prompt, and fixed the problem within a day of submitting a ticket. I just started to use WordPress, and I absolutely love ThemeMove's themes</p>
                    <div class="client-info">
                        <h5>Daniel Pereira</h5>
                        <span>/ Marketer, France </span>
                    </div>
                </div>
            </div>
            <div class="testimonial-plr-1">
                <div class="single-testimonial">
                    <h4>My luck</h4>
                    <p> Before my purchase, I had a look of many other themes & clubs that are available out there. So, ThemeMove is just good luck for me. 5-star rating deserved.</p>
                    <div class="client-info">
                        <h5>Ryan Teixeira</h5>
                        <span>/ Designer, UK</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area pb-35">
    <div class="container">
        <div class="row align-items-center">
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-1.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-2.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-3.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-4.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-5.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-6.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-7.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-8.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-9.png" alt=""></a>
                </div>
            </div>
            <div class="custom-col-5">
                <div class="single-brand-logo mb-30">
                    <a href="shop.html"><img src="assets/images/brand-logo/brand-logo-10.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-us-area contact-us-bg pt-75 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-width-58 custom-common-column">
                <div class="contact-from-area contact-from-area-bg padding-20-row-col">
                    <h3>Ask us anything here</h3>
                    <form class="contact-form-style" id="contact-form" action="assets/mail-php/mail.php" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-style mb-20">
                                    <input name="name" placeholder="Name" type="text">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-style mb-20">
                                    <input name="email" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-style mb-20">
                                    <input name="subject" placeholder="Subject" type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="textarea-style mb-30">
                                    <textarea name="message" placeholder="Your Message"></textarea>
                                </div>
                                <button class="submit" type="submit">Send message</button>
                            </div>
                        </div>
                    </form>
                    <p class="form-messege"></p>
                </div>
            </div>
            <div class="col-width-41 custom-common-column">
                <div class="contact-info-wrap">
                    <div class="single-contact-info2-wrap">
                        <div class="single-contact-info2-icon">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="single-contact-info2-content">
                            <p>Call for help now!</p>
                            <h2> <a href="tel:190068668"> 1900 68668</a></h2>
                        </div>
                    </div>
                    <div class="single-contact-info2-wrap">
                        <div class="single-contact-info2-icon">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="single-contact-info2-content">
                            <p>Say hello</p>
                            <h3><a href="#">info@medizin.com</a></h3>
                        </div>
                    </div>
                    <div class="single-contact-info2-wrap">
                        <div class="single-contact-info2-icon">
                            <i class="fal fa-map-marked-alt"></i>
                        </div>
                        <div class="single-contact-info2-content">
                            <p>Address</p>
                            <h4> <a href="https://www.google.com/maps"> 62 Gresham St, Victoria Park WA 6100, Australia</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area pt-65 pb-25">
    <div class="container">
        <div class="section-title-2 mb-45">
            <h2>Meet Our Professionals</h2>
            <p>When your mission is to be better, faster and smarter, you need the best people driving your vision forward. We are a diverse collection of creative thinkers with strong passion to providing solutions to your challenging problems. </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="assets/images/team/team-1.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3>Yusuf Adeyemi</h3>
                        <span>Chief Executive Officer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="assets/images/team/team-2.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Malik Adeyemi</h3>
                        <span>Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="assets/images/team/team-3.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> AlFawwaz Timehin</h3>
                        <span>Software Engineer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 col-sm-6">
                <div class="team-wrap mb-45">
                    <div class="team-img mb-20">
                        <img src="assets/images/team/team-4.jpg" alt="">
                        <div class="team-social">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="team-info text-center">
                        <h3> Susan Linn</h3>
                        <span>Hospital Administrator</span>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>

<div class="tm-demo-options-wrapper">
    <div class="tm-demo-options-toolbar tooltip-style-2">
        <a aria-label="Select Demo" class="view-demo-btn-active" href="#"><i class="far fa-ruler-triangle"></i></a>
        <a aria-label="Support Channel" target="_blank" href="https://hasthemes.com/contact-us/"><i class="far fa-life-ring"></i></a>
        <a aria-label="Description" href="#"><i class="far fa-book"></i></a>
        <a target="_blank" aria-label="Purchase Medizin" href="https://1.envato.market/c/417168/275988/4415?subId1=hastheme&subId2=demo&subId3=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio&u=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio"><i class="far fa-shopping-cart"></i></a>
    </div>
    <div class="tm-demo-panel text-center">
        <div class="tm-demo-panel-header">
            <h3> Medizin - Medical eCommerce Template</h3>
            <p> Medizin is our brand new Medical Store eCommerce Template with the specialized design for Hospital, Clinics, Medical Suppliers, Medical Stores, Pharmacy Stores, Medicine Store, Health Care Centers, Corona Virus Prevention, and Clinical Laboratory Equipment eCommerce Websites.</p>
            <div class="tm-demo-btn">
                <a target="_blank" href="https://1.envato.market/c/417168/275988/4415?subId1=hastheme&subId2=demo&subId3=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio&u=https%3A%2F%2Fthemeforest.net%2Fuser%2Fbootxperts%2Fportfolio"> <i class="far fa-shopping-cart"></i> Buy Now </a>
            </div>
        </div>
        <div class="quick-option-list tooltip-style-4 tooltip-style-4-black">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-6">
                    <a aria-label="Medical Supplies" target="_blank" href="index.html"><img src="assets/images/demo/demo-1.jpg" alt="demo"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <a aria-label="Mega Shop" target="_blank" href="index-2.html"><img src="assets/images/demo/demo-2.jpg" alt="demo"></a>
                </div>
                <div class="col-lg-6 col-md-6 col-6">
                    <a aria-label="Medical Equipment" target="_blank" href="index-3.html"><img src="assets/images/demo/demo-3.jpg" alt="demo"></a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        /*--------------------------------
Mouse Parallax
-----------------------------------*/
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(scene, {
            relativeInput: true,
            hoverOnly: true,
        });
    </script>
}

