<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
    <div class="custom-container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">FAQs</li>
            </ul>
        </div>
    </div>
</div>

<br />
<div class="custom-container">
    <div class="breadcrumb-content text-center">
        <div class="medizin-common-paragraph-style paragraph-mrg-dec">
            <h2>Frequently Asked Questions</h2>
            <p>Our dedicated support team is stand by to answer your questions within the shortest possible time.</p>
        </div>
    </div>
</div>

<div class="privacy-policy-area pt-75 pb-35">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="medizin-common-style-wrap">
                    <div class="medizin-common-paragraph-style">
                        <h2>What happens if I signup?</h2>
                        <div class="medizin-common-list-2 medizin-common-list-mrg-2">
                            <p>SinUp is only required for our merchants who want to do business with us. <a href="//www.epinmart.com">epinmart.com</a> merchants sells card pins online via epinmart to their customers with no capital to buy card pins in bulk. They have options of setting the price at which they sell thier pins. We offers auto overdraft for merchant and help them grow thier wallet. Merchants have unique link they can share with their customer through which they can purchase card pin(s). We offered robust <a href="//www.epinmart.com/dashboard">dashboard</a> for merchants to view and manage their stocks, transactions, payments, wallet ballance , customers etc.</p>
                        </div>
                    </div>
                    <div class="medizin-common-paragraph-style">
                        <h2>ePin Mart payment methods?</h2>
                        <div class="medizin-common-list-2 medizin-common-list-mrg-2">
                            <p>Payment is simple, safe and secured at <a href="//www.epinmart.com">epinmart.com</a>. We currently accept payment through <a href="//www.paystack.com">Paystack</a> as our payment provider using your card or other payment options provided by <a href="//www.paystack.com">Paystack</a> online.</p>
                        </div>
                    </div>
                    <div class="medizin-common-paragraph-style">
                        <h2>How do I get my cards after payment?</h2>
                        <div class="medizin-common-list-2 medizin-common-list-mrg-2">
                            <p>After successful completion of payment for the card items, <a href="//www.epinmart.com">epinmart.com</a> displays the purchased registration or result checker cards on the browser and also send a copy of the card pins to the specified email.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="medizin-common-style-wrap">
                    <div class="medizin-common-paragraph-style">
                        <h2>How to buy WAEC, NECO & NABTEB cards online?</h2>
                        <div class="medizin-common-list-2 medizin-common-list-mrg-2">
                            <p>Buying registration and result checker card pins from epinmart.com is quite easy with the following steps:</p>
                            <ul>
                                <li>Visit our website at <a href="//www.epinmart.com">epinmart.com</a></li>
                                <li>Select the registration card or result checker card by clicking on the card.</li>
                                <li>Enter your desired quantity , your fullname and your email address.</li>
                                <li>Proceed to make payment with your debit or credit card.</li>
                                <li>Complete payment and see your card pins displayed on the screen and also delivered to the specified email.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="medizin-common-paragraph-style">
                        <h2>Do I need to register before buying card pins?</h2>
                        <div class="medizin-common-list-2 medizin-common-list-mrg-2">
                                <P>No, registration is not a required before buying of card pin(s). Our process is simple and easy. We only require you to provide email, name and quantity.</P>
                        </div>
                    </div>
                    <div class="medizin-common-paragraph-style">
                        <h2>How long does it takes to get my cards?</h2>
                        <p><a href="//www.epinmart.com">epinmart.com</a> delivery of cards is instantly and automatically done once you complete payment. There is option to request of cards anytime anyday you desired. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
