@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}
@using TransportManagementSystem.Enums
<div class="breadcrumb-area breadcrumb-area-padding-2 bg-gray-2">
    <div class="custom-container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a asp-controller="home" asp-action="index">Home</a>
                </li>
                <li class="active">register </li>
            </ul>
        </div>
    </div>
</div>
<div class="login-register-area pt-75 pb-75">
    <div class="container">
        <div class="login-register-wrap">
            <div class="login-register-title text-center">
                <h1>Register Bus</h1>
            </div>
            <div class="login-register-form">
                <form asp-action="RegisterBus">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">

                            <div class="login-register-input-style input-style">
                                <label>Model*</label>
                                <input type="text" name="Model" required>
                            </div>
                            <div class="login-register-input-style input-style">

                                <label class="control-label">Bus Type</label>
                                <select name="BusType" class="form-control">
                                    Select Bus Type
                                    <option value="@BusType.BusinessClass"> Business Class</option>
                                    <option value="@BusType.Economy"> Economy</option>
                                    <option value="@BusType.FirstClass"> First Class</option>
                                </select>
                                

                            </div>
                            <div class="login-register-input-style input-style">
                                <label>Registration Number*</label>
                                <input type="text" name="RegistrationNumber" required>
                            </div>



                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="login-register-input-style input-style">
                                <label>Plate Number *</label>
                                <input type="text" name="PlateNumber" required>
                            </div>
                            <div class="login-register-input-style input-style">
                                <label>Capacity *</label>
                                <input type="number" name="Capacity" required>
                            </div>

                            <div class="login-register-btn">
                                <button type="submit">Register</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
